.ecology-intro,.ecology-exhibition-info, .ecology-exhibition-info2 {
    display: flex;
    align-items: center;
} 

.ecology-exhibition-info2 {
    gap: 20px;
}

.ecology-intro {
    justify-content: center;
}

/*negativ margin is set to avoid gap between elements*/
.ecology-intro1, .ecology-intro2 {
    flex: 1;
    margin-top: -4px;
}

.ecology-intro1 h1, .ecology-intro1 p {
    max-width: 80%;
}

.ecology-intro1 h1, .ecology-intro1 p, .ecology-intro2 p {
    margin: auto;
}

.ecology-intro2 {
    background-color: #EDEFEF;
    padding: 60px 0px;
}

.ecology-intro2, .p-large, .ecology-exhibition-info1 >* {
    line-height: 30px;
}

.ecology-intro2 p{
    max-width: 90%;
}

.p-large {
    color: #0B2344;
    font-size: 20px;
    padding-top: 10px;
}

.ecology-exhibition-info {
    flex-wrap: wrap;
}

.ecology-exhibition-info1, .ecology-exhibition-info2 {
    flex: 100%;
    padding: 40px 0px;
}

.ecology-exhibition-info1 {
    background-color: #0B2344;
    color: white;
}

.ecology-exhibition-info1 >*, .ecology-exhibition-info2 {
    margin-left: 60px;
}

.ecology-img-mobile, .ecology-img-desktop {
    width: 100%;
    height: auto;
}


/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {

    .ecology-img-desktop, .page-divider-small {
        display: none;
    }

    .robot-ecology {
        height: 60px;
    }

    .ecology-intro {
        flex-wrap: wrap;
    }

    .ecology-intro1, .ecology-intro2, .ecology-exhibition-info1, .ecology-exhibition-info2 {
        padding: 30px 0px;
    }

    .ecology-intro1, .ecology-intro2, .ecology-exhibition-image {
        flex: 100%;
    }

    .p-large {
        font-size: 18px;
    }

    .ecology-exhibition-info1 >* {
        align-items: center;
    }

    .ecology-exhibition-info1 >*, .ecology-exhibition-info2 {
        margin: 10px 20px;
    }


}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px){

    .ecology-img-desktop, .page-divider-small {
        display: none;
    }

    .ecology-intro {
        flex-wrap: wrap;
    }

    .ecology-intro1, .ecology-intro2, .ecology-exhibition-info1, .ecology-exhibition-info2 {
        padding: 50px 0px;
    }

    .ecology-intro1, .ecology-intro2, .ecology-exhibition-image {
        flex: 100%;
    }

    .p-large {
        font-size: 18px;
    }

    .ecology-exhibition-info1 >* {
        align-items: center;
    }

    .ecology-exhibition-info1 >*, .ecology-exhibition-info2 {
        margin: 10px 20px;
    }

    .robot-ecology {
        height: 70px;
    }

}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px) {

    .ecology-img-mobile {
        display: none;
    }

    .robot-ecology {
        height: 90px;
    }

    .ecology-img-desktop {
        height: auto;
    }

    .ecology-exhibition-info1 {
        align-items: center;
    }
    
}