.page-divider h2 {
    margin-left: 80px;
    padding: 30px;
    font-size: 25px;
}

.ecology-exhibition-part1, .ecology-exhibition-info, .ecology-exhibition-info1, .ecology-exhibition-info2 {
    display: flex;
}

.ecology-exhibition-part1, .ecology-exhibition-info2 {
    flex-direction: column;
}

.ecology-exhibition-part1, .ecology-exhibition-info, .ecology-exhibition-info1, .ecology-exhibition-info2 {
    justify-content: center;
}

.ecology-exhibition-part1, .ecology-img-desktop {
    width: 100%;
}

/*negativ margin is set to avoid gap between elements*/
.ecology-exhibition-text {
    background-color: #EDEFEF;
    padding: 90px;
    line-height: 35px;
    margin-top: -4px;
}

.ecology-exhibition-text p, .ecology-exhibition-text{
    max-width: 100%;
}

.ecology-exhibition-text p {
    margin: auto;
}

.padding-p {
    padding-top: 30px;
}

.ecology-exhibition-info1, .ecology-exhibition-info2 {
    flex: 1;
    padding: 60px 0px;
}

.ecology-exhibition-info1{
    gap: 20px;
}

.ecology-exhibition-info1 p {
    max-width: 60%;
}

.ecology-exhibition-info2 {
    background-color: #0B2344;
    color: white;
    align-items: center;
    line-height: 30px;
}

.h3-ecology {
    font-size: 20px;
    color: #ED5E0F;
    margin: 0px 100px 0px 20px;
}


/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {

    .ecology-img-desktop {
        display: none;
    }

    .page-divider h2{
        padding: 20px;
        font-size: 20px;
    }

    .page-divider h2 {
        margin: auto;
    }

    .ecology-exhibition-text {
        padding: 10px;
    }

    .ecology-exhibition-text p {
        max-width: 90%;
    }

    .ecology-img-mobile {
        height: auto;
        width: 100%;
    }

    .ecology-exhibition-info {
        flex-direction: column;
        padding-bottom: 30px;
        gap: 20px;
    }

    .ecology-exhibition-info, .ecology-exhibition-info1 {
        align-items: center;
    }
    

    .ecology-exhibition-info1{
        gap: 5px;
        margin: 0px 20px;
    }

    
    .ecology-exhibition-info1 p {
        max-width: none;
        padding-left: 10px;
    }   
    
    .ecology-exhibition-info2 ul{
        margin: 0px 10px;
    }

    .h3-ecology {
        margin-left: 20px;
        padding-bottom: 20px;
    }

    .robot-ecology {
        height: 60px;
    }



}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px){

    .ecology-img-desktop {
        display: none;
    }

    .page-divider h2 {
        margin: auto;
        padding: 20px;
    }

    .ecology-exhibition-text {
        padding: 10px;
    }

    .ecology-exhibition-text p {
        max-width: 90%;
    }

    .ecology-img-mobile {
        height: auto;
    }

    .ecology-exhibition-info {
        flex-direction: column;
        padding-bottom: 30px;
        gap: 20px;
        align-items: center;
    }

    .ecology-exhibition-info1{
        gap: 10px;
        margin: 0px 20px;
    }

    
    .ecology-exhibition-info1 p {
        max-width: 95%;
        padding: 0px;
    }   
    
    .ecology-exhibition-info2 ul{
        margin: 0px 10px;
    }

    .ecology-exhibition-info2, .ecology-img-mobile {
        width: 100%;
    }

    .h3-ecology {
        margin-left: 10px;
        padding-bottom: 10px;
    }

    .robot-ecology {
        height: 70px;
    }

}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px) {

    .ecology-img-mobile {
        display: none;
    }

    .robot-ecology {
        height: 90px;
    }

    .ecology-img-desktop {
        height: auto;
    }

    .ecology-exhibition-info {
        padding-bottom: 100px;
        gap: 50px;
    }
    
}