.exhibitions {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
}


.exhibition-image {
    width: 100%;
    height: auto;
}

/*negativ margin is set to avoid gap between elements*/
.exhibitions h2 {
    padding: 20px 30px 20px 20px;
    background-color: #EDEFEF;
    margin-top: -4px;
    color: #ED5E0F;
    text-align: right;
}

.robot-exhibitions {
    margin-left: auto;
    margin-right: 50px;
}



/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {

    /*negativ margin is set to avoid gap between elements*/
    .exhibitions {
        grid-template-columns: 1fr;
        margin: auto;
        gap: 20px;
        align-items: center;
        margin-top: -1px;
        width: 100%;
        padding-bottom: 50px;
    }

    .exhibitions h2 {
        padding: 10px 20px 10px 10px;
    }

}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px){

    /*negativ margin is set to avoid gap between elements*/
    .exhibitions {
        margin: auto;
        gap: 20px;
        align-items: center;
        margin-top: -1px;
        width: 100%;
        padding-bottom: 70px;
    }

}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px) {
    
    .exhibitions {
        padding-bottom: 100px;
    }
}