.news-intro, .special-events, .special-events-reverse {
    display: flex;
}

.news-intro {
    align-items: center;
}


.special-events-reverse {
    flex-direction: row-reverse;
}

/*negativ margin is set to avoid gap between elements*/
.news-intro {
    margin-top: -4px;
}

.special-events-text, .special-events-image, .news-intro-image, .news-intro-text {
    flex: 1;
}

.special-events-img, .news-intro-img {
    width: 100%;
    height: auto;
}

.news-intro-text, .special-events-text {
    padding: 10px 30px;
    margin: auto;
}

.p-bold {
    font-weight: bolder;
}

/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {

    .news-intro, .special-events, .special-events-reverse {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .special-events-reverse {
        flex-direction: column;
    }
    
    .news-intro-text, .news-intro-image, .special-events-text, .special-events-image {
        flex: 100%;
    }

    .special-events-text {
        background-color: #EDEFEF;
        margin-top: -4px;
        padding: 20px;
    }

    .news-intro-text p {
        font-size: 14px;
    }

}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px) {

    .special-events, .special-events-reverse {
        flex-wrap: wrap;
    }

    .special-events-text, .special-events-image {
        flex: 100%;
    }

    .special-events-reverse {
        flex-direction: column;
    }

    .special-events-text {
        background-color: #EDEFEF;
        margin-top: -4px;
        padding: 30px;
    }

    .news-intro-text p {
        font-size: 15px;
    }

}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px) {

    .sneak-upcoming {
        padding: 60px 30px;
    }

    .special-events-reverse {
        align-items: center;
    }

    .news-intro-text p {
        font-size: 16px;
    }

}