@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&family=Lato:wght@900&family=Mandali&family=Manrope:wght@400;500;700&family=Maven+Pro:wght@700&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0%;
}

h1 {
    font-family: 'Maven Pro';
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h3, .h3, .nav-mobile ul, #social-instagram, #social-snapchat  {
    font-size: 18px;
}

h3, .h2-orange-desktop, .h2-orange-mobile, .h2-orange {
    color: #CE4C04;
}

p, .button {
    font-size: 14px;
    font-family: 'Mandali';
}

h2, h3, li, a, .h3, .contactform, .button {
    font-family: 'Manrope';
}

.logo-header {
    max-width: 180px;
}

.logo-footer {
    max-width: 90px;
}

.hamburger-icon {
    font-size: 35px;
}

h1, nav li, .nav-desktop, .nav-mobile, nav a:visited, nav a:link, .hamburger-icon, .h2-blue, .page-intro, .h3-blue, .back-top, .back-top a:link, .back-top a:visited, .fa-solid {
    color: #0B2344;
}

.nav-mobile ul, .nav-mobile nav, .nav-mobile li, .nav-mobile{
    background-color: #309C6F;
}

.nav-desktop a:hover {
    color: #309C6F;
}

.nav-mobile ul{
    list-style: none;
    line-height: 50px;
    padding-left: 0px;
}

.nav-mobile ul, .footer-social, .back-top {
    text-align: center;
}

.nav-mobile, .page-intro-h1 {
    position: absolute;
}

.nav-mobile {
    top: 80px;
    width: 100%;
    box-shadow: 0px 4px rgb(0, 0, 0, .40);
    z-index: 2;
}

.nav-mobile, header, .footerlogo, .footer-links, .footer-social, .footer-links {
    align-items: center;
}

header {
    height: 80px;
    background-color: white;
}

header, footer, .footerlogo, .footer-links, .footer-social, .page-divider,.page-divider2 {
    display: flex;
}

nav a, nav li, footer li, footer a, a, .back-top-i {
    text-decoration: none;
}

nav a, nav li, footer li, footer a, .back-top-i {
    font-weight: bold;
}

#menu-checkbox {
    display: none;
}

footer {
    background-color: #0B2344;
    padding: 10px 0px;
}

footer a:visited, footer a:link, footer p, #social-instagram, #social-snapchat, .nav-mobile a:hover{
    color: white;
}

.footerlogo, .footer-links, .footer-social{
    flex: 1;
    justify-content: center;
} 

.hamburger-menu:has(#menu-checkbox:checked) ~ .nav-mobile, .footer-social{
    display: block;
}

.footer-social {
    font-size: 13px;
    margin: auto;
}

.footer-links{
   gap: 40px;
}

.page-intro {
    position: relative;
    text-align: left;
    z-index: 1;
}

.page-intro-h1 {
    top: 15%;
    left: 7%;
    padding-left: 90px;
    padding-top: 0px;
}

.button {
    background-color: #ED5E0F;
    color: black;
    padding: 10px 35px;
    border-radius: 15px;
    font-size: 14px;
    border: none;
}

/*negativ margin is set to avoid gap between elements*/
.page-divider,.page-divider2 {
    margin-top: -4px;
}

.page-divider, .page-divider-small, .page-divider-get-involved, .page-divider2 {
    background-color: #EDEFEF;
}

.h-invisible {
    display: none;
}




/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px){

    .nav-desktop, .nav-mobile, .desktop-small-background, .tablet-small-background {
        display: none;
    }

    header {
        justify-content: center;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 20px 0px;
    }

    .footerlogo {
        grid-row: 1/ span 2 ;
    }

    .logo {
        padding-left: 10px;
    }

    .logo, .footer-links {
        margin: auto;
    }

    .hamburger-icon {
        margin-left: 40px;
    }

    .footer-links {
        display: block;
        max-width: 150px;
    }

    .footer-links a {
        padding-inline: 0px;
        font-size: 14px;
    }

    .footer-social p {
        font-size: 12px;
    }

    .footer-social {
        padding-top: 20px;
    }

    .footer-links {
        line-height: 25px;
    }

    .footer-links a, p, .button  {
        font-size: 13px;
    }

    #social-instagram, #social-snapchat {
        padding-right: 5px;
    }

    .mobile-small-background {
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    .page-intro-h1 {
        top: 10%;
        left: 4%;
        padding-left: 50px;
        padding-top: 5px;
    }

    .robot-home, .robot-exhibitions, .robot-ecology, .robot-get-involved, .robot-visit {
        width: 50px;
    }

    .button {
        padding: 10px 30px;
    }

    .page-divider-small, .page-divider-get-involved {
        padding: 20px;
    }

    .back-top {
        padding: 40px 0px;
        line-height: 5px;
    }

    .back-top p {
        font-size: 16px;
    }
}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px){
    .nav-desktop, .nav-mobile, .mobile-small-background, .desktop-small-background {
        display: none;
    }

    header {
        justify-content: center;
    }

    .logo {
        margin: auto;
        padding-right: 50px;
    }

    .hamburger-icon {
        margin-left: 100px;
    }

    .footer-links a {
        font-size: 13px;
    }

    .footer-links{
        gap: 20px;
     }

    p {
        font-size: 15px;
    }

    h1 {
        font-size: 25px;
    }

    .mobile-small-background {
        width: 100%;
        height: auto;
    }

    .robot-home, .robot-exhibitions, .robot-ecology,.robot-get-involved, .robot-visit  {
        width: 60px;
    }

    .button {
        padding: 10px 30px;
        font-size: 14px;
    }

    .page-divider, .page-divider-small, .page-divider-get-involved {
        padding: 25px;
        
    }

    .back-top {
        padding: 40px 0px;
        line-height: 5px;
    }

    .back-top p {
        font-size: 16px;
    }

}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px){
    .nav-mobile, .hamburger-menu:has(#menu-checkbox:checked) ~ .nav-mobile, .hamburger-icon, .mobile-small-background, .tablet-small-background, .back-top {
        display: none;
    }

    .logo, .nav-desktop {
        justify-content: flex-start;
        flex: 1;
    }

    .logo {
        margin-left: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 70px;
    }

    .nav-desktop {
        margin-right: 20px;
        flex-grow: 3;
        margin: 0;
    }

    .nav-desktop li {
        display: inline-block;
        padding-inline: 20px;
    }

    .nav-desktop ul {
        white-space: nowrap;
        padding-left: 0px;
    }

    #social-instagram, #social-snapchat, .footer-social p {
        font-size: 14px;
    }

    .desktop-small-background {
        width: 100%;
        height: auto;
    }

    .robot-home, .robot-exhibitions, .robot-ecology, .robot-get-involved  {
        max-width: 80px;
    }

    .page-divider-small, .page-divider-get-involved {
        padding: 30px;
    }



}