@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&family=Lato:wght@900&family=Manrope:wght@400;500;700&family=Maven+Pro:wght@700&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0%;
}

h1 {
    font-family: 'Maven Pro';
}

h2, h3, p, li, a {
    font-family: 'Manrope';
}

.logo-header {
    max-width: 180px;
}

.logo-footer {
    max-width: 90px;
}

.hamburger-icon {
    font-size: 35px;
}

h1, nav li, .nav-desktop, .nav-mobile, nav a:visited, nav a:link, .hamburger-icon {
    color: #0B2344;
}

.nav-mobile ul, .nav-mobile nav, .nav-mobile li, .nav-mobile{
    background-color: #309C6F;
}

.nav-desktop a:hover {
    color: #309C6F;
}

.nav-mobile ul{
    list-style: none;
    line-height: 50px;
    padding-left: 0px;
    font-size: 17px;
}

.nav-mobile ul, .footer-social {
    text-align: center;
}

.nav-mobile {
    position: absolute;
    top: 80px;
    width: 100%;
    box-shadow: 0px 4px rgb(0, 0, 0, .30);
}

.nav-mobile, header, .footerlogo, .footer-links, .footer-social, .footer-links {
    align-items: center;
}

header {
    height: 80px;
    background-color: white;
}

header, footer, .footerlogo, .footer-links, .footer-social {
    display: flex;
}

nav a, nav li, footer li, footer a {
    text-decoration: none;
    font-weight: bold;
}

#menu-checkbox {
    display: none;
}

footer {
    background-color: #0B2344;
    padding: 10px 0px;
}

footer a:visited, footer a:link, footer p, #social-icons, .nav-mobile a:hover{
    color: white;
}

.footerlogo, .footer-links, .footer-social{
    flex: 1;
    justify-content: center;
} 

.hamburger-menu:has(#menu-checkbox:checked) ~ .nav-mobile, .footer-social{
    display: block;
}

.footer-social {
    font-size: 13px;
    margin: auto;
}

.footer-links a {
    padding-inline: 20px;
}

.page-intro {
    position: relative;
    text-align: left;
    color: #0B2344;
}

.page-intro-h1 {
    position: absolute;
    top: 30px;
    margin: auto;
    padding-left: 50px;
}



/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px){
    .nav-desktop, .nav-mobile, .desktop-small-background, .desktop-small-background-home {
        display: none;
    }

    header {
        justify-content: center;
        align-items: center;
        display: flex;
    }

    footer {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 20px 0px;
    }

    .footerlogo {
        grid-row: 1/ span 2 ;
    }

    .logo, .footer-links {
        margin: auto;
    }

    .logo {
        padding-left: 10px;
    }

    .hamburger-icon {
        margin-left: 40px;
    }

    .footer-links {
        display: block;
        max-width: 150px;
    }

    .footer-links a {
        padding-inline: 0px;
        font-size: 14px;
    }

    .footer-social p {
        font-size: 12px;
    }

    .footer-social {
        text-align: left;
        padding-top: 20px;
    }

    .footer-links {
        margin-right: 45px;
        line-height: 25px;
    }

    .footer-social {
        margin-right: 50px;
    }

    #social-icons {
        font-size: 15px;
        padding-right: 5px;
    }

    .mobile-small-background {
        width: 100%;
        height: 75px;
    }
}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px){
    .nav-desktop, .nav-mobile, .desktop-small-background, .desktop-small-background-home{
        display: none;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin: auto;
        padding-right: 50px;
    }

    .hamburger-icon {
        margin-left: 100px;
    }

    .mobile-small-background {
        width: 100%;
        height: 90px;
    }
}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px){
    .nav-mobile, .hamburger-menu:has(#menu-checkbox:checked) ~ .nav-mobile, .hamburger-icon, .mobile-small-background, .mobile-small-background-home  {
        display: none;
    }

    .logo, .nav-desktop {
        justify-content: flex-start;
        flex: 1;
    }

    .logo {
        margin-left: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 70px;
    }

    .nav-desktop {
        margin-right: 20px;
        flex-grow: 3;
        margin: 0;
    }

    .nav-desktop li {
        display: inline-block;
        padding-inline: 20px;
    }

    .nav-desktop ul {
        white-space: nowrap;
        padding-left: 0px;
    }

    #social-icons,.footer-social p {
        font-size: 14px;
    }

    .desktop-small-background {
        width: 100%;
    }

    .mobile-small-background, .mobile-small-background-home {
        display: none;
    }



}