.last-update {
    margin-left: 80px;
    padding: 30px 20px 0px 20px;
}

.terms {
    display: grid;
    grid-template-rows: 1fr;
    margin: auto;
    padding-bottom: 80px;
}

.terms div {
    margin: 10px 80px;
}

.terms p, .terms ul {
    line-height: 30px;
    margin: 0px 20px;
}

.terms h2 {
    background-color: #0B2344;
    color: white;
    padding: 20px;
}

.terms-intro {
    display: flex;
    flex-wrap: wrap;
}

.terms-intro p {
    max-width: 70%;
}

.terms-intro h2 {
    flex: 100%;
}

.terms-content li {
    font-size: 16px;
}

.terms-content p, .terms-content li {
    padding-bottom: 20px;
}

.robot-desktop-terms-privacy{
    width: auto;
    margin-left: auto;
    padding-right: 20px;
}


/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {


.terms p, .terms ul {
    padding: 5px;
    max-width: 100%;
}

.terms h2 {
    padding: 10px 20px;
}

.terms-intro {
    justify-content: center;
}

.terms div {
    margin: 5px 15px;
}

.robot-desktop-terms-privacy{
    height: 100px;
}

.last-update {
    margin-left: 10px;
}

}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px){

    .terms p, .terms ul {
        padding: 5px;
        max-width: 100%;
    }
    
    .terms h2 {
        padding: 10px 20px;
    }
    
    .terms-intro {
        justify-content: center;
    }
    
    .terms div {
        margin: 5px 20px;
    }
    
    .robot-desktop-terms-privacy{
        height: 110px;
    }
    
    .last-update {
        margin-left: 20px;
    }


}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px) {

    .robot-desktop-terms-privacy{
        height: 120px;
    }

}

