.terms-privacy-top {
    background-color: white;
    width: 80%;
    margin: auto;
}

.terms-privacy-h1 {
    padding-top: 40px;
}

.last-update {
    padding-bottom: 40px;
}

.terms {
    display: grid;
    grid-template-rows: 1fr;
    margin: auto;
    background-color: white;
    width: 80%;
    margin-top: -20px;
}

.terms div {
    margin: 10px 80px;
}

.terms p, .terms ul {
    line-height: 30px;
    margin: 0px 20px;
}

.terms h2 {
    background-color: #064356;
    color: white;
    padding: 10px;
}

.terms-intro p {
    max-width: 70%;
}

.terms-intro h2 {
    flex: 100%;
}

.terms-content p, .terms-content li {
    padding-bottom: 20px;
}


/*mobile and small tablets*/
@media screen and (min-width: 300px) and (max-width: 600px) {

.terms p, .terms ul {
    padding: 5px;
    max-width: 100%;
}

.last-update, .terms-privacy-h1 {
    margin-left: 20px;
}

.terms-privacy-h1 {
    padding-top: 20px;
}

.terms-intro {
    justify-content: center;
}

.terms div {
    margin: 5px 15px;
}

}

/*smaller and lagrer tablets*/
@media screen and (min-width: 601px) and (max-width: 900px){

    .terms p, .terms ul {
        padding: 5px;
        max-width: 100%;
    }

    .last-update, .terms-privacy-h1 {
        margin-left: 20px;
    }
    
    .terms h2 {
        padding: 10px 20px;
    }
    
    .terms-intro {
        justify-content: center;
    }
    
    .terms div {
        margin: 5px 20px;
    }

}

/*laptop and desktop*/
@media screen and (min-width: 901px) and (max-width: 20000px) {

    .last-update, .terms-privacy-h1 {
        margin-left: 80px;
    }
    

}

